*{
    margin: 0;
    padding: 0;

}

body {
    background-color: #FEABDA;
    background-size: cover;
    background-attachment: fixed;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;

}

header section h1{ 

    text-align: center;
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    padding: 5px;    
    font-size: 40px;

}
main h1{ 

    background-color: #ec0000;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px;    
    font-size: 40px;

}

.paginas {

    background-color: #FEABDA;
    text-align: center;
    border: 5px ;
    padding: 10px;

}

.decoracion {

    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    font-size: bold;
    margin: 40px;
}

.lista {

    text-decoration: none;
    text-align: center;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;

}

.izquierda{
    text-align: left;
    list-style: none;
    margin: 15px;
}

.article1 {

    background-color: #ffffff;
    font-size: bold;
    margin: 35px;
    padding: 5px;
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
}

.article2 {

    margin: 20px;
    text-align: justify;

}

.imagenes {
 
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    transform: translate(300px) 
    
}



.imagenes__regiones {

    
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    transform: translate(565px);
    
}

.video__regiones {

    margin-top: 5px;
    margin-left: 450px;
    margin-bottom: 5px;

}

.imagenes__historia {

    width: 450px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    transform: translate(430px);
    
}

main section h2 {

    background-color: #ffffff;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 5px ;
    padding: 10px;
    margin: 35px;

}

.formulario1 {

    text-align: center;
    background-color: #ffffff;
    padding: 5px;
    color: black;
    line-height: 1.5;
    margin-left: 200px;
    margin-right: 200px;


}

.formulario2{

    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    
}

.espaciado{
    margin: 10px;
}

footer h2 {

    text-align: center;
    border: 5px ;
    background-color: #ffffff;
    color:  rgb(0, 0, 0);
    padding: 10px;
    margin-left: 35px;
    margin-right: 35px;

}

footer h3 {

    text-align: center;
    background-color: #ffffff;
    border: 5px ;
    padding: 10px;
    color:  rgb(0, 0, 0);
    margin-left: 35px;
    margin-right: 35px;

}

.redes-sociales {

    margin: 10px;
    background-color: #ffffff;
    margin-bottom: 50px;
    border: 5px;
    padding: 10px;
    text-align: center;
}


.tarjeta {

    background-color: rgb(255, 255, 255);
    color: black;
    width: 370px;
    height: 400px;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border: solid black;
}

.tarjeta__imagen {

    width: 150px;
    margin: 5px;
    border-radius: 10px;
}

.tarjeta-musica {

    background-color: rgb(255, 255, 255);
    color: black;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid black;
}

.video__musica {

 margin-left: 450px;

}

.flex {

    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.flex__hijo {

    padding: 10px;
    width: 280px;
    margin: 10px;
} 

.flex-comida {

    margin: 5px;
    border: 5px solid rgb(0, 0, 0);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.video__comida {

    margin-left: 450px;

}



.grid {

    margin: 10px;
    border: 5px solid black; 
    padding: 5px solid blue;
    max-height: 1000px;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%  50%  50%  50%  50%;
    
}

.boton {

    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 35px;
    margin-top: 10px;
    margin-left: 685px;
    margin-right: 350px;
    margin-bottom: 10px;
    font-size: bold;
    border: none;
    border-radius: 5px;
    
}

.mapa {

    border-radius: 5px;
    margin-left: 300px;

}

.subtitulo{

    background-color:  rgb(255, 255, 255);
    text-align: center;

}
