@import "parciales/_reseteo";
@import "parciales/_body";
@import "parciales/_footer";
@import "parciales/_regiones";
@import "parciales/_historia";
@import "parciales/_comida";
@import "parciales/_musica";
@import "parciales/_otras-decoraciones";








