footer h2 {

    text-align: center;
    border: 5px ;
    background-image: $color-principal-fondo;
    color:  $color-letra;
    padding: 10px;
    margin-left: 35px;
    margin-right: 35px;

}
footer h3 {

    text-align: center;
    background-image: $color-principal-fondo;
    border: 5px ;
    padding: 10px;
    color:  $color-letra;
    margin-left: 35px;
    margin-right: 35px;

}
.redes-sociales {

    margin: 10px;
    background-image: $color-principal-fondo;
    margin-bottom: 50px;
    border: 5px;
    padding: 10px;
    text-align: center;
}

.decoracion {

    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-image: $color-principal-fondo;
    font-size: bold;
    margin: 40px;
}