footer h2 {

    text-align: center;
    border: 5px ;
    background-image: linear-gradient(to left, rgb(212, 255, 94), rgb(0, 247, 255));
    color:  rgb(0, 0, 0);
    padding: 10px;
    margin-left: 35px;
    margin-right: 35px;

}
footer h3 {

    text-align: center;
    background-image: linear-gradient(to left, rgb(212, 255, 94), rgb(0, 247, 255));
    border: 5px ;
    padding: 10px;
    color:  rgb(0, 0, 0);
    margin-left: 35px;
    margin-right: 35px;

}
.redes-sociales {

    margin: 10px;
    background-image: linear-gradient(to left, rgb(212, 255, 94), rgb(0, 247, 255));
    margin-bottom: 50px;
    border: 5px;
    padding: 10px;
    text-align: center;
}

.decoracion {

    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-image: linear-gradient(to left, rgb(103, 230, 162), rgb(0, 247, 255));
    font-size: bold;
    margin: 40px;
}