
.izquierda{
    text-align: left;
    list-style: none;
    margin: 15px;
}

.imagenes {
 
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    transform: translate(300px) 
}
.espaciado{
    margin: 10px;
}
.mapa {

    border-radius: 5px;
    margin-left: 300px;

}