.imagenes__regiones {

    
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    transform: translate(565px);
    
}
.video__regiones {

    margin-top: 5px;
    margin-left: 450px;
    margin-bottom: 5px;

}